In [1]:
variables = """age: continuous. 
workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked. 
fnlwgt: continuous. 
education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool. 
education-num: continuous. 
marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse. 
occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces. 
relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried. 
race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black. 
sex: Female, Male. 
capital-gain: continuous. 
capital-loss: continuous. 
hours-per-week: continuous. 
native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
income:>50K, <=50K"""

In [2]:
variable_names = [l.split(':')[0] for l in variables.split('\n')]
variable_names

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country',
 'income']

In [3]:
df = spark.read.csv('../../adult.data', inferSchema=True)

In [6]:
from pyspark.sql.functions import col
df.printSchema()

income_df = df.select(*[col(c).alias(a) for c,a in zip(df.columns, variable_names)])
income_df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: double (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: double (nullable = true)
 |-- capital-loss: double (nullable = true)
 |-- hours-per-week: double (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)

In [24]:
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql.types import StringType


from pyspark.ml.feature import Tokenizer


categorical_variables = [ f.name for f in income_df.schema.fields if f.dataType == StringType()]
print(categorical_variables)
indexerPipeline = Pipeline(stages = [StringIndexer(inputCol=c, outputCol= "cat_%s"%c) for c in categorical_variables])

pipelineModel = indexerPipeline.fit(income_df)
indexed_df = pipelineModel.transform(income_df)
indexed_df.printSchema()

['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country', 'income']
root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: double (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: double (nullable = true)
 |-- capital-loss: double (nullable = true)
 |-- hours-per-week: double (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)
 |-- cat_workclass: double (nullable = true)
 |-- cat_education: double (nullable = true)
 |-- cat_marital-status: double (nullable = true)
 |-- cat_occupation: double (nullable = true)
 |-- cat_relationship: double (nullable = true)
 |-- cat_race: double (nullable = true)
 |-- cat_sex: double (nullable = true)
 |-- cat_native-country: double (nullable = true)
 |-- cat_income: double (nullable = true)

In [40]:
from pyspark.ml.feature import VectorAssembler, VectorIndexer

categorical_assembler = Pipeline(stages = [
    VectorAssembler(inputCols = ["cat_%s"%c for c in categorical_variables if c !='income'], outputCol='cat_vector'),                    
    VectorIndexer(inputCol='cat_vector', outputCol='cat_features')
])

categorical_assembler_model = categorical_assembler.fit(indexed_df)
cat_df = categorical_assembler_model.transform(indexed_df)
cat_df.printSchema()
cat_df.select('cat_features').show(5)

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: double (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: double (nullable = true)
 |-- capital-loss: double (nullable = true)
 |-- hours-per-week: double (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)
 |-- cat_workclass: double (nullable = true)
 |-- cat_education: double (nullable = true)
 |-- cat_marital-status: double (nullable = true)
 |-- cat_occupation: double (nullable = true)
 |-- cat_relationship: double (nullable = true)
 |-- cat_race: double (nullable = true)
 |-- cat_sex: double (nullable = true)
 |-- cat_native-country: double (nullable = true)
 |-- cat_income: double (nullable = true)
 |-- cat_vector: vector (nullable = true)
 |-- cat_features: vector (nullable = true)

+--------------------+
|        cat_features|
+--------------------+
|[4.0,2.0,1.0,3.0,...|
|(8,[0,1,3],[1.0,2...|
|(8,[2,3,4],[2.0,9...|
|(8,[1,3,5],[5.0,9...|
|[0.0,2.0,0.0,0.0,...|
+--------------------+
only showing top 5 rows

In [41]:
feature_assembler = VectorAssembler(inputCols = ['age', 'fnlwgt', 'hours-per-week', 'cat_features'] , outputCol='features')
feature_df = feature_assembler.transform(cat_df)

feature_df.printSchema()
feature_df.select('features').show()

root
 |-- age: integer (nullable = true)
 |-- workclass: string (nullable = true)
 |-- fnlwgt: double (nullable = true)
 |-- education: string (nullable = true)
 |-- education-num: double (nullable = true)
 |-- marital-status: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- relationship: string (nullable = true)
 |-- race: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- capital-gain: double (nullable = true)
 |-- capital-loss: double (nullable = true)
 |-- hours-per-week: double (nullable = true)
 |-- native-country: string (nullable = true)
 |-- income: string (nullable = true)
 |-- cat_workclass: double (nullable = true)
 |-- cat_education: double (nullable = true)
 |-- cat_marital-status: double (nullable = true)
 |-- cat_occupation: double (nullable = true)
 |-- cat_relationship: double (nullable = true)
 |-- cat_race: double (nullable = true)
 |-- cat_sex: double (nullable = true)
 |-- cat_native-country: double (nullable = true)
 |-- cat_income: double (nullable = true)
 |-- cat_vector: vector (nullable = true)
 |-- cat_features: vector (nullable = true)
 |-- features: vector (nullable = true)

+--------------------+
|            features|
+--------------------+
|[39.0,77516.0,40....|
|(11,[0,1,2,3,4,6]...|
|(11,[0,1,2,5,6,7]...|
|(11,[0,1,2,4,6,8]...|
|[28.0,338409.0,40...|
|[37.0,284582.0,40...|
|[49.0,160187.0,16...|
|(11,[0,1,2,3,6],[...|
|[31.0,45781.0,50....|
|(11,[0,1,2,4,6],[...|
|(11,[0,1,2,4,6,8]...|
|[30.0,141297.0,40...|
|[23.0,122272.0,30...|
|[32.0,205019.0,50...|
|[40.0,121772.0,40...|
|[34.0,245487.0,45...|
|[25.0,176756.0,35...|
|(11,[0,1,2,5,6,7]...|
|(11,[0,1,2,4,6],[...|
|[43.0,292175.0,45...|
+--------------------+
only showing top 20 rows

In [47]:
from pyspark.ml.classification import RandomForestClassifier

rf_classifier = RandomForestClassifier(featuresCol='features', labelCol='cat_income', maxBins=50)

rf_model = rf_classifier.fit(feature_df)

In [48]:
display(rf_model.transform(feature_df))

DataFrame[age: int, workclass: string, fnlwgt: double, education: string, education-num: double, marital-status: string, occupation: string, relationship: string, race: string, sex: string, capital-gain: double, capital-loss: double, hours-per-week: double, native-country: string, income: string, cat_workclass: double, cat_education: double, cat_marital-status: double, cat_occupation: double, cat_relationship: double, cat_race: double, cat_sex: double, cat_native-country: double, cat_income: double, cat_vector: vector, cat_features: vector, features: vector, rawPrediction: vector, probability: vector, prediction: double]

In [49]:
rf_model.featureImportances

SparseVector(11, {0: 0.0939, 1: 0.0018, 2: 0.054, 3: 0.0025, 4: 0.0885, 5: 0.2783, 6: 0.184, 7: 0.2875, 8: 0.0004, 9: 0.0042, 10: 0.0048})

In [43]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

(trainData, testData) = df_data_tf_idf.randomSplit([0.5, 0.5])

In [44]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol = 'idf')
model = rf.fit(testData)

In [45]:
test_predictions = model.transform(testData)
test_predictions.show()

+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|            filename|label|                text|                  tf|                 idf|       rawPrediction|         probability|prediction|
+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
|0002.1999-12-13.f...|  0.0|[Subject:, vastar...|(5,[0,1,2,3,4],[1...|(5,[0,1,2,3,4],[1...|[12.5720286448161...|[0.62860143224080...|       0.0|
|0003.1999-12-14.f...|  0.0|[Subject:, calpin...|(5,[0,1,2,4],[2.0...|(5,[0,1,2,4],[0.0...|[15.3284586218421...|[0.76642293109210...|       0.0|
|0005.1999-12-14.f...|  0.0|[Subject:, meter,...|(5,[0,1,2,3,4],[4...|(5,[0,1,2,3,4],[0...|[15.8818467289343...|[0.79409233644671...|       0.0|
|0007.1999-12-14.f...|  0.0|[Subject:, mcmull...|(5,[0,1,2,3,4],[3...|(5,[0,1,2,3,4],[0...|[13.4509241509410...|[0.67254620754705...|       0.0|
|0009.1999-12-14.f...|  0.0|[Subject:, meter,...|(5,[0,1,2,3,4],[4...|(5,[0,1,2,3,4],[0...|[13.7424692987704...|[0.68712346493852...|       0.0|
|0010.1999-12-14.f...|  0.0|[Subject:, duns, ...|(5,[0,1,2,3,4],[5...|(5,[0,1,2,3,4],[0...|[16.0485584772508...|[0.80242792386254...|       0.0|
|0011.1999-12-14.f...|  0.0|[Subject:, king, ...|(5,[0,1,2,3,4],[9...|(5,[0,1,2,3,4],[0...|[16.0617355867966...|[0.80308677933983...|       0.0|
|0014.1999-12-15.f...|  0.0|[Subject:, lst, r...|(5,[0,1,2,3,4],[3...|(5,[0,1,2,3,4],[0...|[16.2065220536096...|[0.81032610268048...|       0.0|
|0016.1999-12-15.f...|  0.0|[Subject:, unify,...|(5,[0,1,2,3,4],[3...|(5,[0,1,2,3,4],[0...|[13.6717262147308...|[0.68358631073654...|       0.0|
|0019.1999-12-15.f...|  0.0|[Subject:, meter,...|(5,[0,1,2,3,4],[6...|(5,[0,1,2,3,4],[0...|[13.7424692987704...|[0.68712346493852...|       0.0|
|0020.1999-12-15.f...|  0.0|[Subject:, meter,...|(5,[0,1,2,3,4],[1...|(5,[0,1,2,3,4],[0...|[13.2887646435138...|[0.66443823217569...|       0.0|
|0021.1999-12-15.f...|  0.0|[Subject:, y, 2, ...|(5,[0,1,2,3,4],[1...|(5,[0,1,2,3,4],[0...|[13.3388891866514...|[0.66694445933257...|       0.0|
|0022.1999-12-16.f...|  0.0|[Subject:, re, :,...|(5,[0,1,2,3,4],[4...|(5,[0,1,2,3,4],[0...|[13.3462016358705...|[0.66731008179353...|       0.0|
|0023.1999-12-16.f...|  0.0|[Subject:, hpl, f...|(5,[0,1,2,3,4],[4...|(5,[0,1,2,3,4],[0...|[16.0608909856485...|[0.80304454928242...|       0.0|
|0028.1999-12-17.f...|  0.0|[Subject:, pennze...|(5,[0,1,2,3,4],[1...|(5,[0,1,2,3,4],[0...|[13.6965017709176...|[0.68482508854588...|       0.0|
|0031.1999-12-20.f...|  0.0|[Subject:, out, o...|(5,[0,1,2,3,4],[2...|(5,[0,1,2,3,4],[0...|[13.5927798577766...|[0.67963899288883...|       0.0|
|0034.1999-12-20.f...|  0.0|[Subject:, re, :,...|(5,[0,1,2,3,4],[5...|(5,[0,1,2,3,4],[0...|[16.1967981685939...|[0.80983990842969...|       0.0|
|0035.1999-12-20.f...|  0.0|[Subject:, re, :,...|(5,[0,1,2,3,4],[4...|(5,[0,1,2,3,4],[0...|[16.2251616392808...|[0.81125808196404...|       0.0|
|0039.1999-12-21.f...|  0.0|[Subject:, valero...|(5,[0,1,2,3,4],[1...|(5,[0,1,2,3,4],[0...|[13.6965017709176...|[0.68482508854588...|       0.0|
|0044.1999-12-21.f...|  0.0|[Subject:, re, :,...|(5,[0,1,2,3,4],[7...|(5,[0,1,2,3,4],[0...|[16.2990433044964...|[0.81495216522482...|       0.0|
+--------------------+-----+--------------------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [46]:
evaluator = BinaryClassificationEvaluator(rawPredictionCol="rawPrediction")
evaluator.evaluate(test_predictions)

0.7344332232268187